
extend layout.pug 

block content 
    hi.namecard-prompt Let's get started 
    a.namecard-submit(href='/cards') Begin!
    
    
    
    //section#content 
   // h2 Welcome, #{name}!
  // /     form(action='/goodbye', method='post')
        button(type='submit')goodbye

        P 
            a(href='/cards') Begin!