doctype html 
html(lang="en")

head 
    title Pokedex 
    link(ref='stylessheet', href='/static/stylesheets/style.css')
body 
    include includes/header.pug
    if name
       h2 Welcome, #{name}!
        form(action='/goodbye', method='post')
         button(type='submit')goodbye
    block content 
    
footer 
    p An app to help you study