.grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: space-around;
  }

  .pokemon-info {
    width: 200px;
    /* background-color: black; */
    border-radius: 5px;
    border: 1px solid black;
    padding: 50px;
  }
  #pokemonDiv {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: space-around;
    text-transform: capitalize;
  }

  p {
    margin: auto 0;
  }

  .header {
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 1.4rem;
  }
  .pokemon-card {
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 5px;
    width: 350px;
    height: 350px;
  }
  .pokemon-card img {
    width: 80%;
    display: block;
    margin: auto;
  }

  .poison {
    background-color: green;
  }
  .electric {
    background-color: yellow;
  }
  .grass {
    background-color: greenyellow;
  }
  .fire {
    background-color: orangered;
  }
  .water {
    background-color: lightskyblue;
  }
  .bug {
    background-color: purple;
  }
  .normal {
    background-color: #cccccc;
  }