.btn {
    margin: auto;
    padding: 20px;
    color: white;
    border-radius: 5px;
    /* outline: none; */
    background-color: red;
  }

  .btn:hover {
    background-color: rgb(255, 71, 71);
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: black;
  }
  #pokemonDiv {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    justify-content: space-around;
  }
  .header {
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
  }
  .pokemon-card {
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    height: 150px;
  }
  .pokemon-card img {
    width: 50%;
    display: block;
    margin: auto;
  }

  .poison {
    background-color: green;
  }
  .electric {
    background-color: yellow;
  }
  .grass {
    background-color: greenyellow;
  }
  .fire {
    background-color: orangered;
  }
  .water {
    background-color: lightskyblue;
  }
  .bug {
    background-color: purple;
  }
  .normal {
    background-color: #cccccc;
  }